<section class="services section">
    <h2 class="section__title">Servicios</h2>
    <span class="section__subtitle">Nuestros servicios</span>
    <div class="services__container containerPersonal grid">
        <!-- servicio 1 -->
        <div class="services__content" *ngFor="let service  of dataServices">
            <div align="center">
                <h3 class="services__title">{{service.titulo1}}</h3>
                <p>{{service.descripcion}}</p>
                <br>
                <i class="{{service.icono}} iconos"></i>
            </div>
        </div>

    </div>
</section>