<section class="portfolio">
    <h2 class="section__title">Aplicación</h2>
    <span class="section__subtitle">Apartados de la aplicación</span>

    <div class="portfolio__container containerPersonal swiper-container">
        <!-- [navigation]="{ nextEl: '.carousel-next', prevEl: '.carousel-previous' }" -->



        <div class="swiper-wrapper">

            <!-- portfolio 1 -->
            <div class="  swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/inicio_m.PNG" alt="" class="imagen">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Inicio de la aplicación</h3>
                        <p class="portfolio__description">Al iniciar la aplicación podemos visualizar la siguiente bienvenida.</p>
                    </div>
                </div>
            </div>


            <!-- portfolio 2 -->
            <div class="swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/contenido.PNG" alt="" class="imagen">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Contenido de la aplicación</h3>
                        <p class="portfolio__description">La aplicación tiene un apartado que muestra contenido referente al lenguaje de señas.</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/tips.PNG" alt="" class="imagen">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Tipo de contenido</h3>
                        <p class="portfolio__description"> Aquí podemos visualizar videos, imagenes, links, entre otras cosas que aporten conocimiento.</p>
                    </div>
                </div>
            </div>


            <!-- portfolio 3 -->
            <div class=" swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/vocabulario.PNG" alt="" class="imagen">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Vocabulario dentro de la aplicación</h3>
                        <p class="portfolio__description">Contamos con una serie de vocabulario que nos permitirá aprender el LSM.</p>
                    </div>
                </div>
            </div>

            <!-- portfolio 3 -->
            <div class=" swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/saludos.PNG" alt="" class="imagen">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Tipo de vocabulario</h3>
                        <p class="portfolio__description">Los gifs son una herramienta que facilita el conocimiento de los movimientos de las manos al hacer una seña.</p>
                    </div>
                </div>
            </div>

            <!-- portfolio 3 -->
            <div class=" swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/buscador.PNG" alt="" class="imagen">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Buscador</h3>
                        <p class="portfolio__description">La aplicación tiene una herramienta que permite agilizar la búsqueda de vocabulario.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"><i class="fas fa-angle-left swiper-portfolio-icon"></i></div>
        <div class="swiper-button-next"><i class="fas fa-angle-right swiper-portfolio-icon"></i></div>
        <div class="swiper-pagination"></div>

    </div>
    <!-- <i class="carousel-prev fas fa-user uil uil-angle-left-b" role="button" aria-label="Next slide"></i> -->






</section>