<section class="home section">
    <div class="home__container containerPersonal grid">
        <div class="home__content grid">
            <div class="home__social">
            </div>
            <div class="home__img">
                <img src="assets/icons/icono.PNG" alt="" class="about__img">
            </div>
            <div class="home__data"  align="center">
                <h1 class="home__title">
                    MiLSM
                </h1>
                <p class="home__description">Tú Lenguaje de Señas Mexicano a la mano y desde cualquier lugar.</p>
                <a download="" href="assets/pdf/milsm.apk" class="button button--flex">
                    ¡Descarga ya! <i class="fas fa-download esp"></i>
                </a>
            </div>
        </div>

    </div>
</section>