<section class="about section">
    <h2 class="section__title">Acerca de MiLSM</h2>
    <span class="section__subtitle">Aplicación Móvil</span>
    <div align="center" class="about__container containerPersonal grid">
        <img src="assets/img/inicio.PNG" alt="" class="img">
        <div class="about__data">
            <p class="about__descripcion">
                MiLSM es una aplicación instalable en cualquier dispositivo móvil con la capacidad de compartir
                información acerca del Lenguaje de Señas Mexicano.
            </p>
            <br>
            <p class="about__descripcion">
                Este proyecto se hizo con la finalidad de influir y fomentar el lenguaje de señas en la sociedad, de
                tal manera que podamos romper una barrera de comunicación, la cual afecta el día a día de las personas
                con discapacidad auditiva verbal.
            </p>
        </div>
    </div>
</section>