<footer class="footerPersonal">
    <div class="footer__bg">
        <div class="footer__container containerPersonal grid">

            <h1 class="footer__title">MiLSM</h1>
            <span class="footer__subtitle">Desarrolladores:</span>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Evelyn Michelle Baz Pérez</a>
                    <br>
                    <a href="#" class="footer__link">Julio Pérez Cambambia</a>
                    <br>
                    <a href="#" class="footer__link">Jessica Denisse Hdz Cortes</a>
                    <br>
                    <a href="#" class="footer__link">Luis Alberto Yair Méndez</a>
                    <br>
                    <a href="#" class="footer__link">María José Romero Rosas</a>
                </li>
            </ul>
        </div>

        <p class="footer__copy">&#169; Universidad Tecnológica del Centro de Veracruz (UTCV) </p>
    </div>
</footer>